acl allowed_nets { {{(hostvars['YukobaTTU-1']['ansible_default_ipv4']['network'] + '/' + hostvars['YukobaTTU-1']['ansible_default_ipv4']['netmask']) | ansible.utils.ipaddr('net')}}; 127.0.0.0/8; 172.17.0.0/16; };
options {
	directory "/var/cache/bind";

	forwarders {
	{% for forwarder in forwarders_list %}
	{{forwarder}};
	{%endfor%}

	};

    allow-query { allowed_nets; };
	dnssec-validation no;
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "transfer.key" {
        algorithm hmac-sha256;
        secret "{{ dns_transfer_secret }}";
};

key "nsupdate.key" {
        algorithm hmac-sha256;
        secret "{{ dns_nsupdate_secret }}";
};
