acl ABC { {{ localnet }}; {{ localhost }}; };
options {
  directory "/var/lib/bind";

  forwarders { {% for ip in dnsforwarders %}
    {{ ip }};
  {% endfor %}
  };
	
  allow-query { ABC; };
  dnssec-validation no;
};
statistics-channels {
  inet {{ localip }} port 8053 allow { {{ localip }}; };
};