{% for domain in [domain_name, reverse_domain_name] %}

zone "{{ domain }}"  {
{% if inventory_hostname in groups['bind_masters'] %}
    type master;
    allow-transfer {
        127.0.0.1;
{% for slave in groups['bind_slaves'] %}
        {{ hostvars[slave]['ansible_default_ipv4']['address'] }};
{% endfor %}
        key transfer.key;
    };
    allow-update {
        127.0.0.1;
{% for slave in groups['bind_slaves'] %}
        {{ hostvars[slave]['ansible_default_ipv4']['address'] }};
{% endfor %}
        key nsupdate.key;
    };
{% else %}
    type secondary;
    masters {
{% for master in groups['bind_masters'] %}
        {{ hostvars[master]['ansible_default_ipv4']['address'] }};
{% endfor %}
    };
{% endif %}

    file "db.{{ domain }}";
};

{% endfor %}

{% if inventory_hostname in groups['bind_slaves'] %}
{% for master in groups['bind_masters'] %}
server {{ hostvars[master]['ansible_default_ipv4']['address'] }} {
    keys { transfer.key; };
};
{% endfor %}
{% endif %}